@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

/* Estilos del navbar */
.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

header{
  margin: 0;
}

.logo h3 {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: inline;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 30px 0 0;
  font-size: 20px;
}

.nav-links li .home{
  position: relative;
  bottom: 20px;
}

.nav-links li a {
  color: rgb(18, 20, 37);
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #c8c8c8;
}



.item {
  width: 300px; /* Ancho del div de cada producto */
  margin: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}

.item h3{
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(29, 30, 49);
  
}

.item p {
  margin: 5px 0;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 15px;
  color: rgb(50, 50, 50);
}

.item img:hover{
  transform: scale(1.1); 
}

@media screen and (max-width: 500px) {
  .logo h3{
    font-size: 10px;
  }

  .logo img{
    width: 30px;
  }
}
